@import "https://fonts.googleapis.com/css?family=Bree+Serif";
* {
    color: rgb(124, 138, 189);
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

#add {
  font-family: 'Bree Serif', serif;
  color: rgb(124, 138, 189);
}

#edit {
  font-family: 'Bree Serif', serif;
  color: rgb(124, 138, 189);
}

form {
  background-attachment: fixed;
  background:  rgba(187, 201, 250, 0.3);
  background: -webkit-linear-gradient(to top,  rgba(187, 201, 250, 0.3) , #ffffff);
  background: linear-gradient(to top,  rgba(187, 201, 250, 0.3) , #ffffff);
  margin: 20px auto;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

footer {
  background-color: rgba(187, 201, 250, 0.3);
}

.btn btn-primary{
  color: rgba(223, 226, 237, 0.3);
}
