@import "https://fonts.googleapis.com/css?family=Bree+Serif";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

body {
  margin: 0;
  padding: 0;
  .container {
    padding-top: 60px;
  }
}


a {
  text-decoration: none;
  color: rgb(187, 201, 250);
}

html {
  font-size: 16px;
}

section {
  padding: 4vh 2vw;
}


h1 {
  font-size: 38px;
  text-align: center;
  font-weight: bold;
  padding-top: 50;
  z-index: 2;
  color: rgb(96, 109, 157);
  letter-spacing: 1px;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(96, 109, 157);
  z-index: 2;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.75rem;
}

li {
  font-size: 1.75rem;
}

header {
  min-width: 100vw;
  display: flex;
  flex-flow: column;
  text-align: center;
  background-attachment: fixed;
  background:  rgba(187, 201, 250, 0.3);
  background: -webkit-linear-gradient(to top,  rgba(187, 201, 250, 0.3) , #ffffff); 
  background: linear-gradient(to top,  rgba(187, 201, 250, 0.3) , #ffffff);

}

footer {
  display: flex;
  flex-flow: column;
  background-color: rgba(187, 201, 250, 0.3);
  h2 {
    margin: 20px auto;
    color: rgb(124, 138, 189);
    display: block;
  }
  ul {
    display: flex;
    list-style-type: none;
    margin: 20px auto;
    li {
      font-size: 26px;
      margin: auto 10px;
    }
  }
}
